@model List<Category>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<h2>Kategoriler</h2>
<ul>
    @foreach (var item in Model)
    {
        <li>@item.CategoryName</li>
    }
</ul>